<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <% if (articles.length > 0) { %>
        <% for (const article of articles) { %>
            <div>
                <h2><%= article.title %></h2>
                <p><%= article.body %></p>
                <span>Likes: <%= article.numberOfLikes %></span>
            </div>
        <% } %>
    <% } else { %>
        <div>No articles found</div>
    <% } %>
</body>
</html>